# Actividad 01 - Estadística Univariada

## Ejercicio 1: Hola Mundo

* Utilice el método `print` para retornar la siguiente línea:

> Hola Mundo, esta es mi primera incursión en Python

In [1]:
print ("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

## Ejercicio 2: Ingreso de variables
* Ahora ingrese una serie de datos respecto a su información personal. Esta información debe estar ingresada en variables para su posterior uso. Ingrese los siguientes datos:
    - Su nombre
    - Edad
    - Una lista con sus 3 actividades favoritas.
    - ¿Tiene mascotas?

In [2]:
nombre = "Sebastian Contreras Zambrano"
edad = 26
actividades_favoritas = ['videojuegos', 'dormir', 'bicicleta']
tiene_mascota = True

## Ejercicio 3: Imprimiendo Variables
* Imprima cada variable creada
    - Acceda al segundo elemento de su lista
* Pida los tipo de datos asociados
* Interpole los datos en un método print para generar una presentación sobre usted.

In [3]:
print (nombre)
print (edad)
print (actividades_favoritas)
print (tiene_mascota)

Sebastian Contreras Zambrano
26
['videojuegos', 'dormir', 'bicicleta']
True

In [4]:
print (actividades_favoritas[1])

dormir

In [5]:
print (type(nombre))
print (type(edad))
print (type(actividades_favoritas))
print (type(tiene_mascota))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'bool'>

## Ejercicio 4: A continuación se presenta una serie de códigos que generan errores. Corrígalos y comente cuáles fueron las fallas


```python
print('Estaba la pájara pinta sentada en el verde limón)
```


```python
print('Mi nombre es' name 'y tengo' edad, 'años')
```


```python
import padnas as pd
import nunnpy as np
```


```python
"Ornitorrinco" + 45
```

In [13]:
print ("Mi nombre es: " + nombre)
print ("Tengo " + str(edad) + " años") 
print ("Mis actividades favoritas son: ")
print (*actividades_favoritas, sep=', ')
if tiene_mascota == True:
    print ("Y tengo mascota")
else:
    print ("Y no tengo mascota")

Mi nombre es: Sebastian Contreras Zambrano
Tengo 26 años
Mis actividades favoritas son:
videojuegos, dormir, bicicleta
Y tengo mascota

print('Estaba la pájara pinta sentada en el verde limón) -> A esta línea de código le falta el cierre de comillas simples

In [15]:
print('Estaba la pájara pinta sentada en el verde limón') #forma correcta

Estaba la pájara pinta sentada en el verde limón

print('Mi nombre es' name 'y tengo' edad, 'años') -> tiene que llamar a las variables con + o con {} y luego .format()

In [17]:
print("Mi nombre es " + nombre + " y tengo " + str(edad) + " años")

Mi nombre es Sebastian Contreras Zambrano y tengo 26 años

"Ornitorrinco" + 45 -> no puede sumar un int a un string

In [21]:
#la alternativa puede ser:
"Ornitorrinco" + "45"

'Ornitorrinco45'

## Ejercicio 5: Utilizando `pandas` y `numpy`

* Importe `pandas` y `numpy` siguiendo la nomenclatura enseñada.
* Posteriormente importe el archivo `flights.csv` y guardelo en un objeto llamado `df`.
* Solicite las primeras y últimas 5 observaciones del objeto `df` creado.
* Utilice `describe` para obtener las medidas univariadas de la columna `year`.
* Utilice `value_counts` para obtener la frecuencia de meses y años de la tabla.
* Guarde en variables las primeras y últimas 15 observaciones de la tabla.
* Solicite la media, mediana y desviación estandar de la cantidad de pasajeros utilizando los métodos de `numpy`. Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados.

In [2]:
import pandas as pd
import numpy as np

In [22]:
pd.read_csv("C:/Users/sebas/Desktop/Fundamentos Data Science/sebastian-contreras-act01/flights.csv")

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
5    1949       June         135
6    1949       July         148
7    1949     August         148
8    1949  September         136
9    1949    October         119
10   1949   November         104
11   1949   December         118
12   1950    January         115
13   1950   February         126
14   1950      March         141
15   1950      April         135
16   1950        May         125
17   1950       June         149
18   1950       July         170
19   1950     August         170
20   1950  September         158
21   1950    October         133
22   1950   November         114
23   1950   December         140
24   1951    January         145
25   1951   February         150
26   1951      March         178
27   1951      April         163
28   1951        May         172
29   1951       June         178
..    ...        ...         ...
114  1958       July         491
115  1958     August         505
116  1958  September         404
117  1958    October         359
118  1958   November         310
119  1958   December         337
120  1959    January         360
121  1959   February         342
122  1959      March         406
123  1959      April         396
124  1959        May         420
125  1959       June         472
126  1959       July         548
127  1959     August         559
128  1959  September         463
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [3]:
df = pd.read_csv("C:/Users/sebas/Desktop/Fundamentos Data Science/sebastian-contreras-act01/flights.csv")

In [4]:
df.head(5) #primeros 5 elementos

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [5]:
df.tail(5) #ultimos 5 elementos

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [7]:
print (df['year'].describe())

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [50]:
print (df['month'].value_counts())

April        12
February     12
March        12
June         12
November     12
July         12
August       12
January      12
September    12
May          12
October      12
December     12
Name: month, dtype: int64

In [51]:
print (df['year'].value_counts())

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [62]:
primeras_quince = df.head(15)
ultimas_quince = df.tail(15)

In [68]:
import scipy.stats as stats

print (np.mean(df['passengers']))
print (np.median(df['passengers']))
print (stats.mode(df['passengers']))

280.2986111111111
265.5
ModeResult(mode=array([229], dtype=int64), count=array([3]))

In [71]:
print (np.mean(primeras_quince['passengers']))
print (np.median(primeras_quince['passengers']))
print (stats.mode(primeras_quince['passengers']))

126.8
126.0
ModeResult(mode=array([118], dtype=int64), count=array([2]))

In [72]:
print (np.mean(ultimas_quince['passengers']))
print (np.median(ultimas_quince['passengers']))
print (stats.mode(ultimas_quince['passengers']))

459.2
432.0
ModeResult(mode=array([461], dtype=int64), count=array([2]))

En los últimos 15 días, en promedio incrementó la demanda de viajes.

El viaje más frecuente transportaba a 461 pasajeros.